:root {
  --text-color: #DDA74F;
  --white: #ffffff;
  --text-secondary-color:#A76B09;

}
  
  
  .community-status-content {
    display: flex;
    justify-content: space-between;
    padding:45px 50px;
  }
  
  .community-status-text1 {
    font-family: "Sora";
    font-style: normal;
    font-weight: bold;
    color:var(--text-color);
    font-size: 40px!important ;
    font-weight: bold !important;
    /* color:white; */
  }
  
  .community-status-text2 {
    font-family: "Sora";
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(
      97.39deg,
      #40ffa3 -6.2%,
      #57f6b3 26.55%,
      #a8f379 92.05%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    margin-top:50px !important;
    margin-bottom: 5px !important;
  }
  
  .community-status-text3 {
    font-family: "Sora";
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(
      97.39deg,
      #40ffa3 -6.2%,
      #57f6b3 26.55%,
      #a8f379 92.05%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
   
  
  }
  
  .community-status-made-for {
    position: relative;
    left: 50px;
    font-family: "Sora";
    font-style: normal;
    font-weight: bold;
    color:white;
    font-size: 35px;
    margin-top:20px !important;
  }
  