:root {
  --text-color: #DDA74F;
  --white: #ffffff;
  --text-secondary-color:#dda74f;

}

.header-content1 {
  font-family: sora;
  font-size: 53px !important;
  font-weight: bold;
  color: white;
  line-height: 65px !important;
  letter-spacing: 0.25px !important;
  text-align: center;
  /* white-space: pre-line; */
  margin-top: 143px;
  
}

.header-content1 span{
  font-size: 87px;
  color:var(--text-secondary-color);
  letter-spacing: 0.2px !important;
}

@media screen and (max-width: 1630px) {
  .header-content1 {
    font-size: 106px;
    line-height: 125px;
    letter-spacing: -3px;
    /* border: 1px solid red; */
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .header-content1 {
    font-size: 65px;
    font-family: gilroy-bold;
    letter-spacing: -1.65px;
    text-align: left;
    white-space: inherit;
    width: 340px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .header-content1 {
    font-size: 65px;
    font-family: gilroy-bold;
    letter-spacing: -1.65px;
    line-height: 55px;
    text-align: left;
    white-space: inherit;
    width: 340px;
  }
}

.header-content2 {
  font-family: gilroy-bold;
  font-size: 50px;
  font-weight: bold;
  color: white;
  /* line-height: 150px; */

  text-align: center;
  white-space: pre-line;
  margin-top: 80px;
  margin-bottom: 35px;
}

Button{
  background: linear-gradient(90deg, #7CF4B6 4.68%, #00FFE0 95.08%);
/* border: 2px solid #496F69; */
box-shadow: 0px 0px 100px #000000;
border-radius: 88px;
height:"50px"
}


.header-box {
  /* border: 1px solid; */
  /* height: 800px; */
  background-color: #0F0F0F;
  width:100%;
  /* margin-bottom: 5px; */
  /* padding: 20px; */
  margin-top:10px;
}




.header-button {
  /* border: 1px solid red; */
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  margin-top:69px;
}



.header-button-text {
  background: linear-gradient(90deg, #7CF4B6 4.68%, #00FFE0 95.08%);
  /* border: 2px solid #496F69; */
  box-shadow: 0px 0px 10px #000000;
  border-radius: 60px !important;
  padding:12px 29px !important;
  color: black !important;
  font-size: 18px  !important;
  font-weight: bold;
  margin-bottom: 40px !important;
}



