.text-field {
    border-color: whitesmoke;
    color: red;
}

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
color: aliceblue;
} */



.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}
.MuiInputLabel-root.Mui-focused {
  color: white;
}
